.mainmenu-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "header header"
        "camera manuals";
}

.mainmenu-header {
    border: 1px solid black;
    grid-area: header;
}

.camera-box {
    border: 1px solid black;
    grid-area: camera;
}

.manuals-area {
    border: 1px solid black;
    grid-area: manuals;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    height: 90%;
}

img {
    width: 20px;
    height: 20px;
}