.camera-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-container {
    width: 60vw;
    height: fit-content;
    border: 1px solid black;
}

.record-button {
    /* min-width: 80%; */
    text-overflow: hidden;
    border: 1px solid black;
}

.btn-text {
    width: 3.8em;
    display: flex;
    justify-content: center;
}