.camera-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-container {
    width: 50vw;
    height: 38vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.video-container .video {
    width: 100%;  /* Ensure the video takes up available space */
    height: auto;
    max-width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.record-button {
    /* min-width: 80%; */
    text-overflow: hidden;
    border: 1px solid black;
}


.btn-text {
    width: 3.8em;
    display: flex;
    justify-content: center;
}
